.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-menu-hamburger {
  width: 1.4541015625em;
}

.icon-Vector {
  width: 1.25em;
}

.icon-phone {
  width: 0.75em;
}

.icon-email {
  width: 0.75em;
}

.icon-Client-1-1 {
  width: 1.9091796875em;
}

.icon-Client-2-1 {
  width: 1.9091796875em;
}

.icon-Client-3-1 {
  width: 1.9091796875em;
}

.icon-Client-4-1 {
  width: 1.9091796875em;
}

.icon-Client-5-1 {
  width: 1.9091796875em;
}

.icon-Client-6-1 {
  width: 1.9091796875em;
}
